<% layout("/layouts/boilerplate") -%>

<div class="row mt-4 mb-4">
    <div class="col-8 offset-2">
        <h3>Edit This Listing</h3>
        <form action="/listings/<%= listing._id %>?_method=PUT" method="POST" class="modern-form needs-validation" novalidate enctype="multipart/form-data">
            
            <div class="form-floating mb-3">
                <input type="text" id="title" class="form-control" name="listing[title]" value="<%= listing.title %>" placeholder="Add a title" required>
                <label for="title" class="form-label">Title</label>
                <div class="invalid-feedback">
                    Please provide a listing title.
                </div>
            </div>
            
            <div class="form-floating mb-3">
                <textarea name="listing[description]" class="form-control" id="description" placeholder="Enter description..." style="height:5rem;" required><%= listing.description %></textarea>
                <label for="description" class="form-label">Description</label>
                <div class="invalid-feedback">
                    A description is required for the listing.
                </div>
            </div>
            
            <div class="mb-3">
                <img src="<%= originalImageUrl %>" alt="">
                <label for="image" class="form-label">Upload Listing Image</label>
                <input type="file" class="form-control custom-file-input" id="image" name="listing[image]" value="<%= listing.image.url %>">
            </div>
            
            <div class="mb-3">
                <div class="input-group has-validation">
                    <span class="input-group-text">&dollar;</span>
                    <div class="form-floating">
                        <input type="number" class="form-control" id="price" placeholder="Price" name="listing[price]" value="<%= listing.price %>" required>
                        <label for="price">Price</label>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="text" name="listing[location]" id="location" class="form-control" value="<%= listing.location %>" placeholder="Enter Location" required>
                        <label for="location">Location</label>
                        <div class="invalid-feedback">
                            Please specify the location of the listing.
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="text" id="country" class="form-control" name="listing[country]" value="<%= listing.country %>" placeholder="Enter Country name" required>
                        <label for="country">Country</label>
                        <div class="invalid-feedback">
                            Country name is required.
                        </div>
                    </div>
                </div>
            </div>
            
            <button class="btn btn-dark edit-btn mt-3">Save Changes</button>
        </form>
    </div>
</div>